info:
  application:
    name: cmdb-@project.artefactId@
    version: @project.version@

server:
  port: 8090

com.management.cmdb:
  services:
    inventory:
      url: ${InventoryService_URL:http://localhost:8080}
  tools:
    tracing:
      url: ${TracingTool_URL:http://localhost:9411}

spring:
  application:
    name: ${info.application.name}
    version: ${info.application.version}
  threads:
    virtual:
      enabled: true
  jmx:
    enabled: false
  cloud:
    gateway:
#      globalcors:
#        cors-configurations:
#          '[/**]':
#            allowedOriginPatterns: ${ALLOWED_HOST_REGEX:"http://localhost:[*]"}
#            allowedMethods:
#              - GET
#              - POST
#              - PUT
#              - DELETE
#              - OPTIONS
#            allowedHeaders: "*"

      server:
        default-filters:
          - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
        globalcors:
          cors-configurations:
            '[/**]':
              allowedOriginPatterns: ${ALLOWED_HOST_REGEX:"http://localhost:[*]"}
              allowedMethods:
                - GET
                - POST
                - PUT
                - DELETE
                - OPTIONS
              allowedHeaders: "*"
        webflux:
          routes:
            - id: inventory_service
              uri: ${com.management.cmdb.services.inventory.url}
              predicates:
              - Path=/api/inventory/**
              - Method=GET,POST,PUT,DELETE,OPTIONS
              filters:
                - RewritePath=/api/inventory/?(?<segment>.*), /$\{segment}
                - LocalResponseCache=30m,500MB
#                - name: CircuitBreaker
#                  args:
#                    name: myCircuitBreaker
#                    fallbackUri: forward:/inCaseOfFailureUseThis
#                - name: CacheRequestBody
#                  args:
#                    bodyClass: java.lang.String
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
  sleuth:
    enabled: true
    propagation:
      type: W3C
  zipkin:
    base-url: ${com.management.cmdb.tools.tracing.url}
    service:
      name: ${spring.application.name}
    sampler:
      probability: 1.0
  datasource:
    url: ${DB_URL:jdbc:h2:mem:default;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DEFAULT_NULL_ORDERING=HIGH;}
    driverClassName: ${DB_DRIVER:org.h2.Driver}
    username: ${DB_USERNAME:sa}
    password: ${DB_PASSWORD:strongpassword}
  jpa:
    database-platform: ${DB_DIALECT:org.hibernate.dialect.H2Dialect}
    hibernate:
      ddl-auto: ${DB_DDL_AUTO:create}
management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    info:
      access: read_only

springdoc:
  show-actuator: true
  api-docs.path: /api-docs
  swagger-ui.path: /swagger-ui.html

logging:
  level:
    root: WARN
    org.springframework.cloud.gateway: info
    org.springframework.http.server.reactive: info
    org.springframework.web.reactive: info
    reactor.ipc.netty: WARN
    reactor.netty: WARN

    com.management.cmdb.gateway: DEBUG
